<div class="col-lg-12" [@fadein]>
<a class="boton_activo btn btn-success" [@marcar]="estado" (click)="cambiarEstado()">
<span *ngIf="estado=='active'">Desactivar boton</span>
  <span *ngIf="estado=='inactivo'">activar boton</span>
</a>

<hr/>
<h3>animaciones css3</h3>
<a class="boton_transiciones">trancision</a>


<div class="clearfix"></div>

<div class="caja_animada"></div>

<hr/>
<h1>{{title}}</h1>
<h4> jquery dentro</h4>
<button id="botonjq">mostrar Textos </button>
<p id="texto" class="hidden">asdasdasdasdasdasdasdasdasdasd</p>
<hr />
<p>
Nombre del parque:
<input type="text" [(ngModel)]="nombreDelParque" (keyup)="mostrarNombre()"/>
</p>
<p>
  nombre del parque : {{nombreDelParque}}
</p>
  <br />
<p *ngIf="nombreDelParque">
<parques [nombre]="nombreDelParque"
         [metros]="metros"
(pasameLosDatos)="verDatosParque($event)">
</parques>
</p>
<hr />
<app-simple-tiny [elementId]="'descripcionTienda'"
  (onEditorKeyup)="textoRichEditor($event)">
</app-simple-tiny>
</div>
